* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Montserrat";
  background-color: #0d1219;
}

hr {
  height: 1px;
  background-color: #def2f1;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  background-color: #000000;
  border-radius: 15px;
  margin-bottom: 10px;
}

.navbar a {
  color: #feffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: #7b78ff;
  color: #25244c;
  border-radius: 15px;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: #000000;
  font-family: "Montserrat";
  color: #feffff;
  background-image: url("../images/banner6.jpeg");
  background-position: center;
  background-repeat: repeat no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.side {
  flex: 30%;
  background-color: #191e25;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.side h1,
.side h2,
.side h3,
.side h4,
.side h5,
.side h6 {
  color: #fff;
}

.side a {
  color: #def2f1;
}

.main {
  flex: 70%;
  background-color: #1a2634;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.main a {
  color: #def2f1;
}

.main a:visited {
  color: #feffff;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  color: #feffff;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: #feffff;
  border-radius: 10px;
}

.footer a {
  color: #ffffff;
}

.footer a:visited {
  color: #feffff;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}

.container {
  width: 100%;
  background-color: #ddd;
}

.project {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.project h3 {
  color: #3498db;
}

.project h4,
.project p,
.project li {
  color: #555;
}

.project ul {
  list-style-type: disc;
  margin-left: 20px;
}

.project a {
  color: #3498db;
}

.portrait {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  background-image: url("../images/profile200px.png");
  height: 200px;
  background-position: left;
  background-repeat: no-repeat;
}

.ds_banner,
.wd_banner,
.prog_banner,
.resume_banner,
.certificates,
.work {
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ds_banner {
  background-image: url("../images/banner3.jpeg");
}

.wd_banner {
  background-image: url("../images/banner4.jpeg");
}

.prog_banner {
  background-image: url("../images/banner2.jpeg");
}

.resume_banner {
  background-image: url("../images/banner5.jpeg");
}

.certificates {
  background-image: url("../images/banner6.jpeg");
}

.work {
  background-image: url("../images/background3.jpg");
}

.badges {
  background-color: #feffff;
}
* {
  box-sizing: border-box;
}
/* Style the body */

body {
  margin: auto;
  font-family: "Montserrat";
  background-color: #0d1219;
}
/* Header/logo Title */

.header {
  padding: 60px;
  text-align: center;
  background-color: #000000;
  font-family: "Montserrat";
  color: #feffff;
  background-image: url("../images/banner6.jpeg");
  background-position: center;
  background-repeat: repeat no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}
/* Style the top navigation bar */

.navbar {
  display: flex;
  background-color: #000000;
  border-radius: 15px;
  margin-bottom: 10px;
}
/* Style the navigation bar links */

.navbar a {
  color: #feffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
}
/* Change color on hover */

.navbar a:hover {
  background-color: #7b78ff;
  color: #25244c;
  border-radius: 15px;
}
/* Column container */

.row {
  display: flex;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

.side {
  flex: 30%;
  background-color: #191e25;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.side h1,
.side h2,
.side h3,
.side h4,
.side h5,
.side h6 {
  color: #fff;
}
/* Main column */

.main {
  flex: 70%;
  background-color: #1a2634;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.main a {
  color: #def2f1;
}

.main a:visited {
  color: #feffff;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  color: #feffff;
}

hr {
  height: 1px;
  background-color: #def2f1;
  border: none;
}
/* Portrait image */

.portrait {
  background-image: url("../images/profile200px.png");
  height: 200px;
  background-position: left;
  background-repeat: no-repeat;
}
/* Banner images */

.ds_banner {
  background-image: url("../images/banner3.jpeg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wd_banner {
  background-image: url("../images/banner4.jpeg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prog_banner {
  background-image: url("../images/banner2.jpeg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume_banner {
  background-image: url("../images/banner5.jpeg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.certificates {
  background-image: url("../images/banner6.jpeg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.badges {
  background-color: #feffff;
}

.work {
  background-image: url("../images/background3.jpg");
  background-color: #aaa;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: #feffff;
  border-radius: 10px;
}

.footer a {
  color: #ffffff;
}

.footer a:visited {
  color: #feffff;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
/* Skills Bar */
/* Make sure that padding behaves as expected */

* {
  box-sizing: border-box;
}
/* Container for skill bars */

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

/* Projects */

.project {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.project h3 {
  color: #3498db;
}

.project h4 {
  color: #555;
}

.project p {
  color: #555;
}

.project ul {
  list-style-type: disc;
  margin-left: 20px;
}

.project a {
  color: #3498db;
}

.project li {
  color: #333;
}

.portrait {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Adjust as needed */
  background-color: #1a2634 
}

.skills-category {
  flex: 1 0 21%; /* This will create 4 boxes per row. */
  margin: 1%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.skills-category h3 {
  margin-top: 0;
}

.skills-category p {
  margin: 10px 0;
}

.skills-category meter {
  width: 100%;
  height: 15px;
}

.blog-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Adjust as needed */
  margin: 0 auto;
}

.blog-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-feed div {
  flex: 1 0 30%; /* This will create 3 boxes per row. */
  margin: 1%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.blog-feed h2 {
  margin-top: 0;
}

.blog-feed p {
  margin: 10px 0;
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1a2634;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post-card a {
  color: #3498db;
}
.blog-post-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.blog-post-card p {
  margin-bottom: 10px;
}
